<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">
              <img src="assets/img/hamburger_icon.png" alt="menu" />
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Our Domain</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Company</a>
        </li>
        <li class="nav-item">
            <a class="nav-link red-text" href="#">Careers</a>
        </li>
      </ul>
    </div>
  </nav>